
<div class="page-header">
    <h1>Order confirmed</h1>
    <h3>Thank you for your order. Your order number is {{sale.getOrderNumber()}}</h3>
</div>

<div class="row">
    <div class="col-md-8 ">


        <table class="" style="width:500px;border:solid 1px silver">
            <tr style="background:#eaeaea;padding:4px"><th>sl</th>
                <th>Product</th>
                <th style="text-align:right">Price</th>
                <th style="text-align:center">Quantity</th>
                <th style="text-align:right">Total</th>
            </tr>
 {% for item in sale.getSaleItems()%}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{item.getProductName()}}</td>
                <td style="text-align:right">{{service.getCurrencySymbol()}}{{item.getPrice()}}</td>
                <td style="text-align:center">{{item.getQuantity()}}</td>
                <td style="text-align:right">{{service.getCurrencySymbol()}}{{item.getTotal()}}</td>    


            </tr>
    {% endfor%}

            <tr><td colspan=4> Shipping cost</td><td style="text-align:right"> {{service.getCurrencySymbol()}} {{sale.getShippingCost()}}</td></tr>
            <tr><td colspan=4>Total</td><td style="text-align:right">{{service.getCurrencySymbol()}} {{sale.getTotal()}}</td></tr>      
        </table>




    </div>



    <div  >
        <h4>Bill to</h4>
        <div class="">
            <table class="table table-responsive">
                <tr><td>{{sale.getBillingFirstName()}} {{sale.getBillingLastName()}}</td></tr>
                <tr><td>{{sale.getBillingAddress()}} </td></tr>
                <tr><td>{{sale.getBillingCity()}} {{sale.getBillingState()}} {{sale.getBillingPostalcode()}} {{sale.getBillingCountry()}} </td></tr>
                <tr><td>email: {{sale.getBillingEmail()}}    </td></tr>
                  <tr><td>phone:  {{sale.getBillingPhone()}}  </td></tr>
                <tr><td>        <h4>   Payment Method         {{sale.getPaymentMethod()}}</h4></td></tr>

            </table>
        </div>
    </div>
        
        
        
        

    <div  >
        <h4>Ship to</h4>
        <div class="">
            <table class="table table-responsive">
                <tr><td>{{sale.getShippingFirstName()}} {{sale.getShippingLastName()}}</td></tr>
                <tr><td>{{sale.getShippingAddress()}} </td></tr>
                <tr><td>{{sale.getShippingCity()}} {{sale.getShippingState()}} {{sale.getShippingPostalcode()}} {{sale.getShippingCountry()}} </td></tr>
                <tr><td>phone:  {{sale.getShippingPhone()}}  </td></tr>
    <tr><td>email: {{sale.getShippingEmail()}}   </td></tr>
            </table>
        </div>
    </div>

</div>



