{% extends 'ZeteqMarketBundle:Market:layout.html.twig' %}


{% block title %}
Cart -- Halal Needs
{% endblock %}
{% block middle_container %}
<div class="page-header">
    <h1>Shopping Cart</h1>
</div>

{% if cart.getCount() >0 %}
<table class="table table-bordered table-responsive table-striped table-hover">
    <tr>
    <th>sl</th>
    <th colspan=2>Product</th>
    <th style="text-align:right">Price</th>
    <th>Quantity</th>
    <th style="text-align:right">Total</th>
</tr>
 {% for item in cart.getCartItems()%}
        <tr>
            <td>{{loop.index}}</td>
            
            <td>
            <img src="{{asset(item.getProduct().getWebPath()) | apply_filter('cart_product_thumb')}}"/>
            </td>

            <td>
                <h4><a href="{{path('product_show',{'slug':item.getProduct().getSlug()})}}">{{item.getProduct().getName()}}</a></h4>
               <a href="{{path('store_show',{'slug':item.getProduct().getStore().getSlug()})}}"><h6>{{item.getProduct().getStore()}}</a></h6>
            </td>
            
            
            <td  style="text-align:right" >{{service.getCurrencySymbol()}}{{item.getProduct().getPrice()}}</td>
            <td>
                <form method="post" action="{{path('cart_update_quantity',{'id':item.getId()})}}">
              <div class="col-md-4"> 
                  <input style="text-align:center" class="form-control"  placeholder=".col-md-4" type="text" name="quantity" value="{{item.getQuantity()}}"/>
                  </div>
                  <input hidden="text" name="id" value="{{item.getId()}}"/>            
            <div><button class="btn btn-sm btn-default"><i class="fa fa-refresh"></i> update</button>
             <a class="btn btn-danger btn-sm" href="{{path('cart_remove_item',{'id':item.getId()})}}" ><i class="fa fa-trash-o"></i> Remove</a>
          </div>
            </form>
  </td>
            <td  style="text-align:right" >{{service.getCurrencySymbol()}} {{item.getTotal()}}</td>
        </tr>
    {% endfor%}
</table>
 
<a class="btn btn-info btn-lg" href="{{path('cart_checkout')}}">Checkout</a>
<a class="btn btn-danger btn-lg" href="{{path('cart_clear')}}">Clear Cart</a> 

{% else %}
<div class="alert alert-warning">Your shopping cart is empty</div>
{%endif %}

{% endblock %}






