{% extends 'ZeteqMarketBundle:StoreAdmin:store_admin_layout.html.twig' %}

{% block content -%}
    <h1>Store</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('store') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('store_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
