<!DOCTYPE HTML>
<head>
    <link rel="shortcut icon" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">





    <title>{% block title %}  Store Admin Layout  {% endblock %}</title>







        {% block javascripts %}
    <script src="{{ asset('js/jquery-1.9.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bootstrap-3.0.0/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery.form.js') }}"  type="text/javascript"></script>
    <script src="{{ asset('js/select2-3.4.5/select2.min.js') }}"></script>
    
    <script src="{{asset('wysihtml/lib/js/wysihtml5-0.3.0_rc2.js')}}"></script>
    <script src="{{asset('wysihtml/lib/js/jquery-1.7.2.min.js')}}"></script>
   
    <script src="{{asset('wysihtml/lib/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('wysihtml/bootstrap-wysihtml5-0.0.2.min.js')}}"></script>

        {% endblock %}

        {% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{asset('wysihtml/lib/css/bootstrap.min.css')}}"></link>
    <link rel="stylesheet" type="text/css" href="{{asset('wysihtml/lib/css/prettify.css')}}"></link>
    <link rel="stylesheet" type="text/css" href="{{asset('wysihtml/bootstrap-wysihtml5-0.0.2.css')}}"></link>

    <link href="{{ asset('bootstrap-3.0.0/dist/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
    <!--[if lt IE 9]>

<script src="{{ asset('bootstrap-3.0.0/assets/js/respond.min.js') }}"></script>
<![endif]-->
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/store_admin.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('/css/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />   
    <link href="{{ asset('js/select2-3.4.5/select2.css') }}" type="text/css" rel="stylesheet" />       
 {% endblock %}


    <script type="text/javascript">
        $(function() {
            $("[rel='tooltip']").tooltip();
        });
    </script>

</head>



<body>





  {% block body %}

    <header id="" role="banner" class="navbar navbar-default navbar-fixed-top bs-docs-nav">
        <div class="container"><div class="row">
                <div class="navbar-header">
                    <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('home')}}"> <span class="glyphicon glyphicon-home"></span>QuikBuild</a>
                </div>
                <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">



                    <div class="btn-group pull-right navbar-btn ">
                        <button type="button" class="btn btn-danger"><i class="fa fa-user"></i> {{app.user}}</button>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{path('logout')}}"><i class="fa fa-sign-out"></i> Logout</a></li>  
                            <li><a href="{{path('store_admin_my_account')}}"><i class="fa fa-list"></i>Change Password</a></li>    
                        </ul>
                    </div>  

                </nav>
            </div>  </div>
    </header>


    {{include('ZeteqMarketBundle:StoreAdmin:_top_menu.html.twig')}}

    <div id="main_container" class="container" style="" >









        <div class="row">





            <div id="middle_container" class=" ">

    {% block content %}

{% endblock %}
                <script>
                    {%if active is defined%}
                    $('#' + '{{active}}').addClass('active');
                    {%endif%}

                </script>
            </div>

{% endblock %}
      </div>

{{include('ZeteqMarketBundle:Market:_load.html.twig')}}
</body>
</html>


