{% extends 'ZeteqMarketBundle:StoreAdmin:store_admin_layout.html.twig' %}


{% block title %}
Orders List
{% endblock %}
{% block content %}


 {%set active = 'sale'%}
<script>
    {%if active is defined%}
    $('#' + '{{active}}').addClass('active');
    {%endif%}

</script>



<nav class="navbar navbar-default">

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand">Order list</a>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a href="{{ path('storeproductcategory_new',{'store_id':store_id} ) }}" class="btn  btn-success navbar-btn pull-right">
            Create a new order
        </a>
    </div>
</nav>


<form method="post" action="{{path('storeproductcategory_batch_delete')}}"> 
    <div class="btn-group">

        <button class="btn btn-danger btn-sm" type="submit" onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i> Delete selected</button>

    </div>
    <hr/>
    <table class="table table-bordered table-hover table-responsive table-striped records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th></th>
                <th>Name</th>
                <th>Total</th>
                <th>Order Date</th>
                <th>Order Time</th>
                <th></th>
                <th style="text-align:center">Viewed</th>
                <th style="text-align:center">Shipped</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr id='tr{{loop.index}}'>
                <td><a href="{{ path('sale_edit', { 'id': entity.id,'store_id':store_id }) }}">{{ entity.id }}</a></td>
                <td><input type="checkbox" name="prod[]" value="{{entity.getId()}}" class="chk"></td>
                <td>{{ entity.user }}</td>
                <td>{{ entity.total }}</td>
                <td>{{ entity.created | date(' d/m/Y') }}</td>
                <td>{{ entity.created | date(' H:i:s') }}</td>
                <td></td>
                <td  style="text-align:center" >{% if(entity.getIsViewed()) %}<i class="fa fa-check"></i>{%else%}<i class="fa fa-minus-circle"></i>{% endif %}</td>

                <td  style="text-align:center" >{% if(entity.getIsShipped()) %}<i class="fa fa-check"></i>{%else%}<i class="fa fa-minus-circle"></i>{% endif %}</td>

                <td  style="text-align:right">
                    <div class="btn-group">
                        <a class="btn btn-warning btn-sm " href="{{ path('store_admin_sale_refund', { 'order': entity.getOrderNumber(),'store_id':store_id  }) }}"><i class="fa fa-pencil"></i> refund</a>
                        <a class="btn btn-default btn-sm " href="{{ path('order_details', { 'sale': entity.id, 'admin':'true'  }) }}"><i class="fa fa-square"></i> show</a>

                        <a class="btn btn-default btn-sm " href="{{ path('store_admin_sale_edit', { 'order': entity.getOrderNumber(),'store_id':store_id  }) }}"><i class="fa fa-pencil"></i> edit</a>
                        <a id='{{loop.index}}' onclick="return confirm('Do you really want to delete it?');" class="btn btn-sm btn-danger ajax_link_cart_del"  href="{{ path('sale_delete',{'id':entity.getId()}) }}">
                            <span class="glyphicon glyphicon-remove"></span> Delete        </a>       

                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>

    {% endblock %}
