{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Sale</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Order_number</th>
                <td>{{ entity.ordernumber }}</td>
            </tr>
            <tr>
                <th>Payment_method</th>
                <td>{{ entity.paymentmethod }}</td>
            </tr>
            <tr>
                <th>Shipping_method</th>
                <td>{{ entity.shippingmethod }}</td>
            </tr>
            <tr>
                <th>Shipping_cost</th>
                <td>{{ entity.shippingcost }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ entity.total }}</td>
            </tr>
            <tr>
                <th>Billing_first_name</th>
                <td>{{ entity.billingfirstname }}</td>
            </tr>
            <tr>
                <th>Billing_last_name</th>
                <td>{{ entity.billinglastname }}</td>
            </tr>
            <tr>
                <th>Billing_email</th>
                <td>{{ entity.billingemail }}</td>
            </tr>
            <tr>
                <th>Billing_address</th>
                <td>{{ entity.billingaddress }}</td>
            </tr>
            <tr>
                <th>Billing_city</th>
                <td>{{ entity.billingcity }}</td>
            </tr>
            <tr>
                <th>Billing_state</th>
                <td>{{ entity.billingstate }}</td>
            </tr>
            <tr>
                <th>Billing_postalcode</th>
                <td>{{ entity.billingpostalcode }}</td>
            </tr>
            <tr>
                <th>Billing_country</th>
                <td>{{ entity.billingcountry }}</td>
            </tr>
            <tr>
                <th>Billing_phone</th>
                <td>{{ entity.billingphone }}</td>
            </tr>
            <tr>
                <th>Shipping_first_name</th>
                <td>{{ entity.shippingfirstname }}</td>
            </tr>
            <tr>
                <th>Shipping_last_name</th>
                <td>{{ entity.shippinglastname }}</td>
            </tr>
            <tr>
                <th>Shipping_email</th>
                <td>{{ entity.shippingemail }}</td>
            </tr>
            <tr>
                <th>Shipping_address</th>
                <td>{{ entity.shippingaddress }}</td>
            </tr>
            <tr>
                <th>Shipping_city</th>
                <td>{{ entity.shippingcity }}</td>
            </tr>
            <tr>
                <th>Shipping_state</th>
                <td>{{ entity.shippingstate }}</td>
            </tr>
            <tr>
                <th>Shipping_postalcode</th>
                <td>{{ entity.shippingpostalcode }}</td>
            </tr>
            <tr>
                <th>Shipping_country</th>
                <td>{{ entity.shippingcountry }}</td>
            </tr>
            <tr>
                <th>Shipping_phone</th>
                <td>{{ entity.shippingphone }}</td>
            </tr>
            <tr>
                <th>Shipping_billing_same</th>
                <td>{{ entity.shippingbillingsame }}</td>
            </tr>
        </tbody>
    </table>

        <div style="padding-top:10px;padding-bottom:10px;">
        <a href="{{ path('sale') }}">
               <span class="glyphicon glyphicon-chevron-left"></span>   Back to the list
        </a>
</div>

        <a href="{{ path('sale_edit', { 'id': entity.id }) }}">
            Edit
        </a>

    {{ form(delete_form) }}

{% endblock %}
