<div style="margin-bottom: 10px; text-align: left;">


    <div class="panel panel-default">
        <div class="panel-heading">SPECIAL DISCOUNTED OFFERS</div>
        <div class="panel-body">

            <div  class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <img class="img-thumbnail discount" src="{{asset('upload/images/house.jpg')}}">
                    <h5 style="margin-bottom: 0;">Pablo House</h5>
                    <a>$350.99</a>
                   
                    <a class="btn-discount" href="javascript:"><i class="fa fa-chevron-right"></i></a><hr>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-2">
                    <img class="img-thumbnail discount" src="{{asset('upload/images/hid.jpg')}}">
                    <h5 style="margin-bottom: 0;">HID 8Ks</h5>
                    <a>$350.59</a>
                    
                    <a class="btn-discount" href="javascript:"><i class="fa fa-chevron-right"></i></a><hr>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-2">
                    <img class="img-thumbnail discount" src="{{asset('upload/images/air.png')}}">
                    <h5 style="margin-bottom: 0;">MacBook Air</h5>
                    <a>$200.99</a>
                    
                    <a class="btn-discount" href="javascript:"><i class="fa fa-chevron-right"></i></a><hr>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-2">
                    <img class="img-thumbnail discount" src="{{asset('upload/images/rack.jpg')}}">
                    <h5 style="margin-bottom: 0;">Towel Rack</h5>
                    <a>$400.99</a>
                    
                    <a class="btn-discount" href="javascript:"><i class="fa fa-chevron-right"></i></a><hr>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-2">
                    <img class="img-thumbnail discount" src="{{asset('upload/images/tissot.jpg')}}">
                    <h5 style="margin-bottom: 0;">Tissot Swiss</h5>
                    <a>$250.99</a>
                   
                    <a class="btn-discount" href="javascript:"><i class="fa fa-chevron-right"></i></a><hr>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-2">
                    <img class="img-thumbnail discount" src="{{asset('upload/images/cake.jpg')}}">
                    <h5 style="margin-bottom: 0;">Chocolatah</h5>
                    <a>$30.49</a>
              
                    <a class="btn-discount" href="javascript:"><i class="fa fa-chevron-right"></i></a><hr>
                </div>
            </div>
        </div>
    </div>

</div>