{#
                    <div class="visible-lg">
                    <h5 class="section_header"><i class="fa fa-thumbs-up"> </i> Featured Products</h5>
                    <div class="row">
{% for product in service.getFeaturedProducts()%}
                        <div class="col-md-6">                       
                            <div class="feat_product_div" style="">
                                <a href="{{path('product_show',{'slug':product.slug})}}">
                                    <img style="height:100px;width:100px" class="img-responsive "  src="{{asset(product.getProfileImageWebPath()  )  }}"/>
                                </a>  <br/> 

                                <a class="feat_product_div_a" href="{{path('product_show',{'slug':product.slug})}}">  {{product.getProductName()}}</a>  
                            </div>          

                        </div>               
{% endfor %}
                    </div>
                </div>#}




{%set var = ((((service.getEnabledProducts()|length)/4) +0.5)|number_format)%}


<div style=" padding: 20px;" class="carousel slide"  data-ride="carousel" id="product-car">


  {#  <ol class="carousel-indicators"  style="margin-bottom: -20px;"> 


            {% for i in 0..var-1 %}
            {%if i == 0%}
        <li data-target="#carousel-div" data-slide-to="0" class="active"></li>
          {%else %}
        <li data-target="#carousel-div" data-slide-to="{{i}}" class="active"></li>

            {% endif %}
            {% endfor %}
    </ol>
#}



    <div class="carousel-inner">
        {% for product in service.getEnabledProducts() %}
        {%if  (loop.index-1)%4 == 0%}
        <div class="item {% if loop.index ==1 %} active {% endif %} ">
            <div class="container ">
                <div class="row">
                    {%endif%}
                    
                   {# <div class="col-md-3 top_blocks">          
                        <div style="position:relative">
                            <a href="{{path('product_show',{'slug':product.slug})}}"> 
                                <span class="carousel_title_a" style="display:block;width:100%;text-shadow: 1px 1px 1px black">
                                    <img class="img-responsive " style="height:200px"  src="{{asset(product.getWebPath() ) }}"/> 
                                </span>

                        </div>

                      

                        <div class="top_news">

                            <span href="{{path('product_show',{'slug':product.slug})}}" class="" style="font-weight:600; letter-spacing: 0px;color:#000;font-size:16px;"> 
                                {{product.name}}
                            </span>
                            </a>


                        </div>  
                    </div>#}
                    {{ include('ZeteqMarketBundle:Market:_product.html.twig',{'product': product})  }}
                    {%if loop.index%4 == 0 or loop.last == true%}
                </div>
            </div>
        </div>
        {%endif%}
        {% endfor %}
    </div>

    <a style="width:5%" class="left carousel-control" data-slide="prev" href="#product-car">
        <span class="glyphicon glyphicon-chevron-left"> &nbsp;</span>  &nbsp; </a>

    <a style="width:5%" class="right carousel-control" data-slide="next" href="#product-car"> <span class="glyphicon glyphicon-chevron-right"> &nbsp;			</span>  &nbsp; </a>

</div>




