{#
                    <div class="visible-lg">
                    <h5 class="section_header"><i class="fa fa-thumbs-up"> </i> Featured Stores</h5>
                    <div class="row">
{% for store in service.getFeaturedStores()%}
                        <div class="col-md-6">                       
                            <div class="feat_store_div" style="">
                                <a href="{{path('store_show',{'slug':store.slug})}}">
                                    <img style="height:100px;width:100px" class="img-responsive "  src="{{asset(store.getProfileImageWebPath()  )  }}"/>
                                </a>  <br/> 

                                <a class="feat_store_div_a" href="{{path('store_show',{'slug':store.slug})}}">  {{store.getStoreName()}}</a>  
                            </div>          

                        </div>               
{% endfor %}
                    </div>
                </div>#}




{%set var = ((((service.getFeaturedStores()|length)/6) +0.5)|number_format)%}


<div style="  padding: 20px; height: 320px" class="carousel slide"  data-ride="carousel" id="carousel-div">


  {#  <ol class="carousel-indicators"  style="margin-bottom: -20px;"> 


            {% for i in 0..var-1 %}
            {%if i == 0%}
        <li data-target="#carousel-div" data-slide-to="0" class="active"></li>
          {%else %}
        <li data-target="#carousel-div" data-slide-to="{{i}}" class="active"></li>

            {% endif %}
            {% endfor %}
    </ol>
#}



    <div class="carousel-inner">
        {% for store in service.getFeaturedStores() %}
        {%if  (loop.index-1)%6 == 0%}
        <div class="item {% if loop.index ==1 %} active {% endif %} ">
            <div class="container ">
                <div class="row">
                    {%endif%}
                    {#<div class="col-md-3 ">
                        <div class="col-md-6">
                            <img class="img-responsive thumbnail"  src="{{asset(store.getFirstImage() ) }}"/>          
                        </div>
                        <div class="col-md-6">

                            <h4>
                                <a href="{{path('store_show',{'slug':store.slug})}}"> {{store.title}}</a>
                            </h4>
                            <p>{{store.overview|slice(0, 45)}}<p>
                        </div>
                    </div>#}
                    <div class="col-md-2 top_blocks">          
                        <div style="position:relative">
                            <a href="{{path('store_show',{'slug':store.slug})}}"> 
                                <span class="carousel_title_a" style="display:block;width:100%;text-shadow: 1px 1px 1px black">
                                    <img class="img-responsive " style="height:200px"  src="/upload/store/images/{{store.id}}{{asset(store.getProfileImagePath() ) }}"/> 
                                </span>

                        </div>

                       {# <div class="top_stats">
                            <span class="pull-left"><span class="glyphicon glyphicon-eye-open"> </span> {{store.viewed}}</span>
                            <span class="pull-right">{{store.created|date("d M Y")}} </span>
                            <br clear="all">
                        </div>#}


                        <div class="top_news">

                            <span href="{{path('store_show',{'slug':store.slug})}}" class="" style="font-weight:600;letter-spacing: 0px;color:#ddd;font-size:16px;"> 
                                {{store.getStoreName()}}
                            </span>
                            </a>
                            {#<a href="{{path('front_author_show',{'slug':store.author.slug})}}"> 
                                <span  class="" style="display:block;font-size:10px;font-weight:bold;color:#A6A6A6;font-weight: 200">
                                {{store.author}}

                                </span>
                            </a>
#}

                        </div>  
                    </div>
                    {%if loop.index%6 == 0 or loop.last == true%}
                </div>
            </div>
        </div>
        {%endif%}
        {% endfor %}
    </div>

    <a style="width:5%" class="left carousel-control"  data-slide="prev" href="#carousel-div">
        <span class="glyphicon glyphicon-chevron-left"> &nbsp;</span>  &nbsp; </a>

    <a style="width:5%" class="right carousel-control" data-slide="next" href="#carousel-div"> <span class="glyphicon glyphicon-chevron-right"> &nbsp;			</span>  &nbsp; </a>

</div>




