<div class="row">
    <div class="col-sm-6">
        <div style="position: relative">
            <img class="img-responsive " style='height:500px; width: 100%' src="{{asset(service.getHomeImage(1)[0].getWebPath())}}">

            <div id='overlay' class='col-md-9' >
                <p  style="opacity: 50%">{{service.getHomeImage(1)[0].getBody()|raw}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div style="position: relative">
            <img class="img-responsive" style='height:500px' src="{{asset(service.getHomeImage(2)[0].getWebPath())}}">

            <div  id='overlay'>
                <p  style="opacity: 50%">{{service.getHomeImage(2)[0].getBody()|raw}}</p>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="row">
            <div style="position: relative">
                <img class="img-responsive " style='height:200px' src="{{asset(service.getHomeImage(3)[0].getWebPath())}}">

                <div id='overlay' >
                    <p  style="opacity: 50%">{{service.getHomeImage(4)[0].getBody()|raw}}</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div style="position: relative">
                <img class="img-responsive " style='height:200px' src="{{asset(service.getHomeImage(4)[0].getWebPath())}}">

                <div id='overlay'>
                    <p  style="opacity: 50%">{{service.getHomeImage(4)[0].getBody()|raw}}</p>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div style="position: relative">
            <img class="img-responsive " style='height:400px; width: 100%' src="{{asset(service.getHomeImage(6)[0].getWebPath())}}">

            <div id='overlay' >
                <p  style="opacity: 50%">{{service.getHomeImage(6)[0].getBody()|raw}}</p>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div style="position: relative">
            <img class="img-responsive " style='height:400px' src="{{asset(service.getHomeImage(5)[0].getWebPath())}}">

            <div id='overlay' style="">
                <p  style="opacity: 50%">{{service.getHomeImage(5)[0].getBody()|raw}}</p>
            </div>
        </div>

    </div>
</div>
{#<script>
    $('img').addClass("img");
</script>#}
<style>
    img {
        height:100%;
        width :100%;
    }
</style>

