<div class="row">
    <div class="col-sm-6">
        <div style="position: relative">
            <img class="img-responsive " src="{{asset(service.getHomeImage(1)[0].getWebPath())}}">
        </div>
        <div style="position: absolute; bottom:  0; opacity: 50%">
            <p  style="opacity: 50%">{{service.getHomeImage(1)[0].getBody()|raw}}</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div style="position: relative">
            <img class="img-responsive" style="height:100%" src="{{asset(service.getHomeImage(2)[0].getWebPath())}}">
        </div>
        <div style="position: absolute; bottom:  0; opacity: 50%">
            <p  style="opacity: 50%">{{service.getHomeImage(2)[0].getBody()|raw}}</p>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="row">
            <div style="position: relative">
                <img class="img-responsive " src="{{asset(service.getHomeImage(3)[0].getWebPath())}}">
            </div>
            <div style="position: absolute; bottom:  0; opacity: 50%">
                <p  style="opacity: 50%">{{service.getHomeImage(3)[0].getBody()|raw}}</p>

            </div>
        </div>
        <div class="row">
            <div style="position: relative">
                <img class="img-responsive " src="{{asset(service.getHomeImage(4)[0].getWebPath())}}">
            </div>
            <div style="position: absolute; bottom:  0; opacity: 50%">
                <p  style="opacity: 50%">{{service.getHomeImage(4)[0].getBody()|raw}}</p>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div style="position: relative">
            <img class="img-responsive " src="{{asset(service.getHomeImage(1)[0].getWebPath())}}">
        </div>
        <div style="position: absolute; bottom:  0; opacity: 50%">
            <p  style="opacity: 50%">{{service.getHomeImage(1)[0].getBody()|raw}}</p>

        </div>
    </div>
    <div class="col-sm-3">
        <div style="position: relative">
            <img class="img-responsive " src="{{asset(service.getHomeImage(5)[0].getWebPath())}}">
        </div>
        <div style="position: absolute; bottom:  0; opacity: 50%">
            <p  style="opacity: 50%">{{service.getHomeImage(5)[0].getBody()|raw}}</p>
        </div>

    </div>
</div>
<style>
    img {
        height:100%;
    }
</style>