<div style="margin-bottom:20px;" class="col-sm-6 col-md-3">
    <div class="thumbnail" style="height:360px;">
        <a href="{{path('product_show',{'slug':product.slug})}}">   <img class="img-responsive" style="width:180px;height:180px;margin:auto" src="{{asset(product.getWebPath() )  }}"/></a>
        <div style="text-align: center;height:100px" class="caption">
            <h5 style="font-size:12px">        {{product.getName()}}</h5>
            <h6>{{service.getCurrencySymbol()}} {{product.getPrice()}}</h6>
            <h6><a href="{{path('store_show',{'slug':product.getStore().getSlug()})}}"><i class="fa fa-angle-right"></i> {{product.getStore().getStoreName()}}</a></h6>
        </div>
        <div style="text-align:center">
            {%if product.getAverageRating()[0] is defined%}
                {%for a in 1..product.getAverageRating()[0]%}
                <span class="glyphicon glyphicon-star"></span>
                {%endfor%}
                {%for a in product.getAverageRating()[0]..4%}
                <span class="glyphicon glyphicon-star-empty"></span>
                {%endfor%}
                ({{product.getAverageRating()[1]}})
                {%else%}
                [<i class="fa fa-star-o"></i> not rated yet]
            {%endif%}
        </div>
        <div style="text-align:center">
            <a href="{{path('cart_add_item',{'store_slug':product.getStore().getSlug(),'product_slug':product.getSlug(),'quantity':1})}}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a> 
            {%if fav is defined%}
                <a href="{{path('favorite_item_delete',{'id':fav})}}" class="btn btn-danger ajax_link" role="button"><i class="fa fa-chain-broken"></i>Unfavorite</a> 
            {%endif%}
        </div>

    </div>

</div>