<div style="margin-bottom:20px;" class="col-sm-6 col-md-3">
    <div class="thumbnail" style="height:360px;">
        <a href="{{path('product_show',{'slug':product.slug})}}">   <img class="img-responsive" style="width:180px;height:180px;margin:auto" src="{{asset(product.getWebPath() )  }}"/></a>
        <div style="text-align: center;height:100px" class="caption">
            <h5 style="font-size:12px">        {{product.getName()}}</h5>
            <h6>{{service.getCurrencySymbol()}} {{product.getPrice()}}</h6>
        </div>
         <div style="text-align:center">
            {%if product.getAverageRating()[0] is defined%}
                {%for a in 1..product.getAverageRating()[0]%}
                <span class="glyphicon glyphicon-star"></span>
                {%endfor%}
                {%for a in product.getAverageRating()[0]..4%}
                <span class="glyphicon glyphicon-star-empty"></span>
                {%endfor%}
                ({{product.getAverageRating()[1]}})
                {%else%}
                [<span class="glyphicon glyphicon-star-empty"></span> not rated yet]
            {%endif%}
        </div>
        <div style="text-align:center"><a href="{{path('cart_add_item',{'product_slug':product.getSlug(),'quantity':1,'store_slug':product.store.slug})}}" class="btn btn-primary" role="button">Buy</a> 
        </div>

    </div>

</div>