{% extends 'ZeteqMarketBundle:Market:layout.html.twig' %}


{% block title %}
Home -- Marketplace
{% endblock %}
{%block slider%}

 {{ include('ZeteqMarketBundle:Market:_home_slide.html.twig')  }} 

{%endblock%}
{% block content %}

<div >

   {# {{include(service.getSlot(12))}}#}

    {{ include('ZeteqMarketBundle:Market:_home_image.html.twig')  }}  
</div>
<div class='row'>
    <div class='col-md-4'>
        ____________________________________________
    </div>
    <div class='col-md-4' style='text-align: center'>
        <span style='font-size: 24px' ><b>Popular Stores</b></span>
    </div>
    <div class='col-md-4'>
        ____________________________________________
    </div>
</div>
<div>
    {{ include('ZeteqMarketBundle:Market:_featured_store.html.twig')  }} 
</div>
<div class='row'>
    <div class='col-md-4'>
        ____________________________________________
    </div>
    <div class='col-md-4' style='text-align: center'>
        <span style='font-size: 24px' ><b>Popular Products</b></span>
    </div>
    <div class='col-md-4'>
        ____________________________________________
    </div>
</div>
<div>
    {{ include('ZeteqMarketBundle:Market:_featured_product.html.twig')  }} 
</div>

{#<div id="featured" class="tab-pane active">
    <div class="row">   
  {% for product in service.getEnabledProducts() | slice(0,12)%}

       {{ include('ZeteqMarketBundle:Market:_product.html.twig',{'product': product})  }}             

                   {%if loop.index%4 == 0%}
    </div>

    <div class="row">
              {% endif %}

        {%endfor%}  </div>
</div>#}





<div class=""> {#************WEEKLY FREEBIES**************#}
        {#{{include(service.getSlot(14))}}#}
</div>

<div class="visible-lg visible-md visible-sm"> {#************SPECIAL DISCOUNTED OFFERS**************#}
   {#     {{include(service.getSlot(13))}}#}
</div>

<div class=""> {#************PROMOTIONALS**************#}
       {# {{include(service.getSlot(15))}}#}
</div>


<hr/>
{% endblock %}






