{% extends 'ZeteqMarketBundle:Market:layout.html.twig' %}


{%block middle_content%}
<div class="col-lg-3">
    <div class="list-group">
        <a class="list-group-item active" href="{{path('myaccount')}}">
            My Account
        </a>
        <a class="list-group-item"href="{{path('view_favorite_store')}}">My Favorite Stores</a>
        <a class="list-group-item" href="{{path('view_favorite_item')}}">My Favorite Items</a>
        <a class="list-group-item" href="{{path('purchase_index')}}">My Purchases</a>
        <a class="list-group-item" href="#">My Messages</a>
        <a class="list-group-item" href="{{path('myaccount_edit_settings')}}">My Settings</a>
    </div>
</div>
<div class="col-lg-9">
{% block content %}

{% endblock %}
</div>
{% endblock %}
