{% extends 'ZeteqMarketBundle:Market:store_layout.html.twig' %}


{% block title %}
{{product.getName()}} -- HalalNeeds.Com{% endblock %}

 {% block meta_description %} {{product.getMetaDescription()}}  {% endblock %}  
 {% block meta_keywords %}{{product.getMetaKeywords()}}{% endblock %} 


{% block fb_og_title %}   {{product.getName()}}  {% endblock %} 
{% block og_image %} http://{{web}}{{asset(product.getWebPath() )  }} {% endblock %} 
{% block og_url %} http://{{web}}/product/{{product.getSlug()}} {% endblock %} 
{% block og_description %}{{product.getMetaDescription()}}  {% endblock %} 

{% block twitter_title %}     {{product.getName()}}   {% endblock %} 
{% block twitter_description %} {{product.getMetaDescription()}}   {% endblock %} 
{% block twitter_image %} http://{{web}}{{asset(product.getWebPath() )  }} {% endblock %} 

{% block store_content %}
<div class="col-md-12">
{% block content %}
              {% set cp =  path(app.request.attributes.get('_route'), 
        app.request.attributes.get('_route_params')) %}   

<div class="">

    <div class="row">
        <div class="col-md-12">
            <h4 class="pull-left">{{product.getStore().getStoreName()}} / {% for spc in product.getStoreProductCategories()%} {{spc}} {%endfor%} </h4>

{% if is_admin %} <a class="btn btn-danger btn-lg pull-right" href="{{path('storeadmin_product_edit',{'store_id':store.getId(),'id':product.getId()})}}"><i class="fa fa-pencil-square"></i> Edit this product</a>{% endif %}
            <br clear="all"/>
        </div></div>
    <hr/>


</div>

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12" style="">

        {% include 'ZeteqMarketBundle:Product:_show_product_image.html.twig' %}
    </div>


    <div class="col-md-6"><h2>{{ product.name }}</h2>

{% include 'ZeteqMarketBundle:Market:_rating.html.twig' %}
        {%if product.getAverageRating()[1]>0%}
        <a id="review" data-toggle="tab" href="#rating"> Read all {{product.getAverageRating()[1]}} reviews </a>
        {%endif%}  

        |
        <a id="review-write" data-toggle="tab" href="#rating"> Write a review 
        </a>
        <hr/>


        <div>{{product.getDescription()}}</div>
        <div class="row">
            <div class=" col-md-8">

            </div>
            <div class=" col-md-1">

            </div>
            <div class=" col-md-3">
                <div class="row">
                    <h2>{{service.getCurrencySymbol()}} {{product.getPrice()}} </h2>
                </div>
                <div class="row">
                    {#<div class="col-md-6">Quantity: </div> 
                    <div class="col-md-6" > <input class="form-control" value="1" type="text"> </div>#}

                    {#{%if fav is defined%}
                    <a href="{{path('favorite_item_delete',{'id':fav})}}" class="btn btn-danger ajax_link" role="button"><i class="fa fa-chain-broken"></i>Unfavorite</a> 
                    {%endif%}#}
                </div>
                <div class="row">
                    <a class="btn btn-warning ajax_link_cart_add pull-right"  href="{{path('cart_add_item',{'store_slug':product.getStore().getSlug(),'product_slug':product.getSlug(),'quantity':1})}}"  role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a> 
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class=" col-md-12">
                <div class="">
                    <a class="btn btn-sm btn-primary ajax_link pull-right" href="{{path('add_to_favorite_item',{'slug':product.slug})}}"><i class=" fa fa-heart"></i> Add to Favorite</a>


                    <div class="fb-like" data-href="http://{{web}}/product/{{product.getSlug()}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>


                    &nbsp;&nbsp;  <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                    <script>!function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'twitter-wjs');</script>   


                    <!-- Place this tag where you want the +1 button to render. -->
                    <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="120"></div>

                    <!-- Place this tag after the last +1 button tag. -->
                    <script type="text/javascript">
                        (function() {
                            var po = document.createElement('script');
                            po.type = 'text/javascript';
                            po.async = true;
                            po.src = 'https://apis.google.com/js/platform.js';
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(po, s);
                        })();
                    </script>

                </div>     
            </div>            
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-6">
        <div class="bs-example bs-example-tabs">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a data-toggle="tab" href="#info">Additional info</a></li>
                <li><a data-toggle="tab" href="#rating">                       
                    {% include 'ZeteqMarketBundle:Market:_rating.html.twig' %}
                    </a></li>
                <li class=""><a data-toggle="tab" href="#ship">Shipping & policies</a></li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div id="info" class="tab-pane fade in active">
                    <p>{{product.getAdditionalInfo()}}</p>
                </div>
                <div id="ship" class="tab-pane fade">
                </div>
                <div id="rating" class="tab-pane fade">
                    <br/>
                    <div style="margin-bottom:10px"> 
                        <form id='prForm' method='post' action='{{path('product_rating_submit')}}' >


                            <div class='well well-sm star_div'>

                                <a class='star_rating' id='1'> <span class='glyphicon glyphicon-star'></span></a>
                                <a class='star_rating' id='2'><span class='glyphicon glyphicon-star'></span></a>
                                <a class='star_rating' id='3'><span class='glyphicon glyphicon-star'></span></a>
                                <a class='star_rating' id='4'><span class='glyphicon glyphicon-star'></span></a>
                                <a class='star_rating' id='5'><span class='glyphicon glyphicon-star'></span></a>
                            </div>
                            <style>
                                a.star_rating{padding:3px;font-size: 16px;
                                              cursor: pointer;color:silver;

                                }
                                a.star_rating:hover{color:black;}
                                a.star_rating_hover{color:black}
                                a.star_selected{
                                    color:red;
                                }
                            </style>
                            <script>
                                $(document).ready(function() {


                                    $('a.star_rating').hover(
                                            function() {

                                                $(this).prevAll().addClass('star_rating_hover');
                                            },
                                            function() {

                                                $(this).prevAll().removeClass('star_rating_hover');
                                            }


                                    );

                                    $('a.star_rating').click(function(e) {

                                        e.preventDefault();
                                        $('.star_rating').removeClass('star_selected');
                                        $(this).addClass('star_selected');
                                        $(this).prevAll().addClass('star_selected');

                                        var rating = $(this).attr('id');
                                        $("#rating_val").val(rating);
                                    });

                                });//doc
                            </script>

                            <div class='form-group'>                                
                                <input id='rating_val' class='form-control' type='hidden' name='rating'/>
                            </div>
                            <input type='hidden' value='{{product.slug}}' name='slug'/>
                            <div class='form-group'>
                                <label>Comment:</label> 
                                <textarea name='comment' class='form-control'></textarea>
                            </div>

                            <input class='btn btn-default' type="submit" value="Submit"/>
                        </form>
                    </div>
                    <div id="all-rating">
                            {%for rating in product.getEnabledProductRatings()%}
                        <div class="row">

                            <div class='well star_div'>

                                <h4>
                                    {%if rating.getUser()%}
                                        {{rating.user}}
                                    {%else%}
                                    Annonymous
                                    {%endif%}
                                    <small>{{rating.created|date('D ,d M Y')}}</small> </h4>
                                <div>
                                    {%for  i in 1..rating.getRoundedRating()%}

                                    <a class='star_rating_show star_selected' id='1'><i class='fa fa-star'></i></a>
                                    {%endfor%}
                                    {%if rating.hasHalfStar()!=0%}
                                    <a class='star_rating_show star_selected' id='1'><i class='fa fa-star-half'></i></a>

                                        {%endif%}

                                    <style>
                                        a.star_rating_show{padding:3px;font-size: 16px;
                                                           cursor: pointer;color:silver;

                                        }                                   
                                        a.star_selected{
                                            color:red;
                                        }
                                    </style>

                                </div>
                                <p>{{rating.comment}}</p>
                            </div>
                        </div>
                            {%endfor%}

                    </div>
                    <script>
                        // wait for the DOM to be loaded 
                        $(document).ready(function() {

                            var options = {
                                target: '#subs_result',
                                clearForm: true,
                            };


                            $('#prForm').ajaxForm(options);
                        });
                    </script> 
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="well well-cstm">
            <div class="media">
                <a class="pull-left" href="#">                    
                    <img id="store_profile_image" class="img-responsive  img-thumbnail media-object" style=" max-height: 90px"  src="{{asset(store.getProfileImageWebPath()  )  }}"/>
                </a>
                <div class="media-body">
                {%if is_admin%} 
                    <a style="margin-bottom:4px;" class="pull-right badge " href="{{path('store_admin_edit',{'id':store.getId()})}}"><i class="fa fa-plus"></i>update info</a> <br clear="all"/> 
                {% endif%} 
                    <h4 class="media-heading">{{store.getStoreName()}}</h4>
                    <div>{% if store.getAddress() != ""%}{{store.getAddress}}{% endif %}</div>

                    {% if store.getEmail() != ""%}<h4 style="font-size: 16px;"> email: {{store.getEmail()}} </h4>{% endif %}
                    {% if store.getPhone() != ""%}<h4 style="font-size: 16px;"> phone: {{store.getPhone()}} </h4> {% endif %}

                    {%if store.getFacebookPage() != "" %}<a href="{{store.getFacebookPage()}}"><i class="icon-facebook"></i></a>{% endif %}
                    {%if store.getTwitter() != "" %}<a href="{{store.getTwitter()}}"><i class="icon-twitter"></i></a>{% endif %}
                    {%if store.getGooglePlus() != "" %}<a href="{{store.getGooglePlus()}}"><i class="icon-google-plus-sign"></i></a>{% endif %}
                    {%if store.getWebAddress() != "" %}<a href="{{store.getWebAddress()}}"><i class="icon-globe"></i></a>{% endif %}


                    </li>
                    </ul>
                </div>
            </div>
            <br/>
            <div class="row">
                <a class="btn btn-primary ajax_link" href="{{path('add_to_favorite_store',{'slug':store.slug})}}"><i class=" fa fa-heart"></i> Favorite Store</a>

            </div>
            <hr/>
            <div class="bs-example bs-example-tabs">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a data-toggle="tab" href="#home">Related Products</a></li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div id="home" class="tab-pane fade in active"> 
                        <div class="row">
                    {%for var in product.getRelatedProducts()%}

                            <div class="col-sm-4 ">
                                <a href="{{path('product_show',{'slug':var.slug})}}">
                                    <div class="thumbnail">
                                        <img data-src="holder.js/300x200" alt="..." src="{{asset(var.getWebPath())}}">
                                        <div class="caption">
                                            <h4>{{var.name}}</h4>
                                            <div class="row" style="padding: 5px">
                                                <span class="pull-left">
                                                    <b>
                                                {{ include('ZeteqMarketBundle:Market:_rating.html.twig',{'product':var, 'no':'off'}) }}                                            
                                                    </b>
                                                </span>
                                                <span class=" pull-right">
                                                    <b> {{service.getCurrencySymbol()}} {{product.getPrice()}} </b>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        {%if loop.index %3 == 0 or loop.last%}
                        </div><div class="row">
                        {%endif%}

                    {%endfor%}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Product Images</h4>
                </div>
                <div class="modal-body">

                    <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
                        <ol class="carousel-indicators">
                            <li class="" data-slide-to="0" data-target="#carousel-example-generic"></li>
                            <li data-slide-to="1" data-target="#carousel-example-generic" class=""></li>
                            <li data-slide-to="2" data-target="#carousel-example-generic" class="active"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img style="max-width:80%;max-height: 400px;margin:auto;"  class="img-responsive"  src="{{asset(product.getWebPath() )  }}"/>
                            </div>
                {%for ai in product.getProductImages()%}
                            <div class="item ">
                                <img  class="img-responsive" style="max-width:80%;max-height: 400px;margin:auto;"  src="{{asset(ai.getWebPath() )  }}"/>
                            </div>
                 {% endfor%}
                        </div>
                        <a data-slide="prev" href="#carousel-example-generic" class="left carousel-control">
                            <i class="fa fa-chevron-circle-left"></i> 
                        </a>
                        <a data-slide="next" href="#carousel-example-generic" class="right carousel-control">
                            <i class="fa fa-chevron-circle-right"></i> 
                        </a>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>               
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


    <script>
        $(document).ready(function() {
            $('#review-write').click(function() {
                var scrollPos = $('#prForm').offset().top;
                $(window).scrollTop(scrollPos);
                $('#prForm').foucs();
                $('[href="#rating"]').addClass('active');

            });
            $('#review').click(function() {
                var scrollPos = $('#all-rating').offset().top;
                $(window).scrollTop(scrollPos);
                $('#all-rating').foucs();

            });
        });
    </script>




{% endblock %}
    </div>
{%endblock%}